body {
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
	
}

b, strong {
	color:#488BFF;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
	font-family: "Ubuntu", sans-serif;
}

.footerText1{
	font-size: 30px;
	line-height: 54px;
  color: #488BFF;
	display: flex;
	justify-content: center;
	}
	.footerText2{
	  font-size: 17px;
	  line-height: 25px;
	color: #2e2d2d;
	
	  justify-content: center;
	  }

	

.right-number {

	float: right;
	padding: 10px;
	font-size: large;
	color: #ffffff;
	font-weight: bold;
}

.center {
	text-align: center;
}

.tcpa {
	font-size: small;
	font-weight: lighter;
	max-width: 100%;
}

.more {
	border-radius: 20px;
	background-color: white;
	min-height: 700px;
	position: relative;
	min-width: 300px;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
}

.number { 
	padding: 10px;
	font-size: large;
	color: #008ada;
	font-weight: bold;
}


@media (max-width: 320px) {
	.main-content-inner-container {
		height: 300px;
	}
	.m-4 {
		width: 100px;
		padding-left: -50px;

	}
	.container{ 
		padding-left: -100px;
		display:flex;
	}
}

/* 
@media only screen and (max-width: 720px) {
	.main-content-inner-container {
		min-height: 145vh !important;
	}
} */