.main-content-container {
	border-radius: 20px;
	background-color: white;
	min-height: 550px;
	position: relative;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
}

.main-content-container2 {
	border-radius: 20px;
	background-color: white;
	min-height: 550px;
	position: relative;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
}
.main-content-container4 {
	border-radius: 20px;
	background-color: white;
	min-height: 400px;
	/* position: relative; */
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
}

.main-content-container3 {
	border-radius: 20px;
	background-color: white;
	position: relative;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	margin-bottom: 20px;
}

.select-bg {
	background-color: white;
}
.select-bg:hover {
	background-color: #f5f5f5;
}

.vehicle-model-padding {
	padding: 0px 180px 0px 180px;
}

.box-width {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.more {
	border-radius: 20px;
	background-color: white;
	min-height: 850px;
	position: relative;
	-webkit-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	-moz-box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
	box-shadow: 0px 47px 72px 3px rgba(128, 128, 128, 0.11);
}

.btn {
	font-size: medium;
}

.pbar {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 767px) {
	.box-width {
		width: 80%;
	}

	.main-heading {
		font-size: 22px;
	}

	.heading {
		font-size: 26px;
	}

	.vehicle-model-padding {
		padding: 0px 5px 0px 5px;
	}

	.btn-font {
		font-size: 12px;
	}
	.genderPadding {
		margin: auto;
	}
}

@media (max-width: 320px) {
	.main-content-inner-container {
		height: 300px;
	}

	.main-heading {
		font-size: 18px;
	}

	.btn-font {
		font-size: 10px;
	}
}
